{{#each data}}
{{#ifvalue type equals="text"}}
<div data-type={{type}} data-info={{expires}} id="{{_id}}" class="card card-body">
    <h6 class="card-title">{{title}}</h6>
    <p class="card-text">{{text}}</p>
</div>
{{/ifvalue}}
{{#ifvalue type equals="Promotion"}}
<div data-type={{type}} class="card card-body" id="{{_id}}" data-info={{expires}}>
    <img width="26" src="{{image}}" id="promo-img" class="mx-auto">
    <h6 class="card-title">{{title}}</h6>
    <a href="{{link}}" class="card-link">{{link}}</a>
</div>
{{/ifvalue}}
{{#ifvalue type equals="bonus"}}
<div data-type={{type}} data-info={{expires}} id="{{_id}}" class="card card-body">
    <h6 class="card-title">{{title}}</h6>
    <p class="card-text">{{requirement}}</p>
</div>
{{/ifvalue}}
{{/each}}